.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;
    height: 100%;
    &__container{
        width: 1100px;
        display: flex;
    }
}