.gate{
    top: -10px;
    left: 10px;
    position: absolute;
    display: none;
    width: calc($cell-amount*$cell-size);
    height: calc($cell-amount*$cell-size);
    overflow: hidden;
    grid-template-columns: repeat($cell-amount,$cell-size);
    grid-template-rows: repeat($cell-amount,$cell-size);
    border-radius: 50%;
    border: 1px solid #000;
    &.active{
        display: grid;
    }
    &__item{
        translate:-10% -10%;
        &.active{
            border: 1px solid red;
        }
    }
}