@import "base/reset.css";
@import "base/typography";

@import "abstract/variables";
@import "abstract/mixins";

@import "components/gate";
@import "components/canvas";
@import "components/navbar";
@import "components/banner";

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}