@import "base/reset.css";
@import "base/typography";

@import "abstract/variables";
@import "abstract/mixins";

@import "components/gate";
@import "components/canvas";
@import "components/navbar";
@import "components/form";
@import "components/banner";
@import "components/color";

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__container{
        overflow: hidden;
        position: relative;
        height: 100%;
    }
}



@media (max-width:1000px) {
    .page * {
        display: none;
    }
    .page::after{
        text-align: center;
        line-height: 1.6;
        content: 'Page is not accessible on small screens';
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 14px;
        transform: translate(-50%,-50%);
        color: #000;
    }
}
